@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');

html {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100%;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
  background-color: #f9f9f7;
}

.header {
  height: 52.5px;
  padding: 10px;
}

.header img {
  width: 250px;
}

.content {
  height: 100%;
}

.login-left {
  width: 30%;
  display: inline-block;
  height: 100%;
  background-color: #263544;
  -webkit-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.53);
  box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.53);
}

.login-right {
  float: left;
  width: 70%;
  display: inline-block;
  height: 100%;
  background-color: #fff;
  background: linear-gradient(0deg,rgba(181, 71, 71, 0.22),rgba(171, 58, 58, 0.25)),url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-right img {
  margin-top: 27%;
  margin-left: 27%;
}

.login-left-header {
  margin-left: 15px;
  margin-bottom: 20px;
}

.login-left-header img{
  width: 90%;
  margin-top: 25%;
}

.login-left form {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 25%;
}

.login-left h1 {
  text-align: center;
  color: #fff;
  font-weight: 200;
}

.login-left input {
  width: calc(100% - 40px);
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 7px 10px 30px;
  background-color: #12202d;
  border: none;
  border: 1px solid #c2dde91a;
  box-shadow: none;
  color: #798999;
}

.login-left button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background-color: #aff0ed;
  border: none;
  padding: 10px 45px;
  width: 100%;
  border: 1px solid #364e66;
  color: #263544;
}

.login-left h6 {
  color: #a7b1ba;
  margin-top: 10px;
}

.login-left a {
  text-decoration: none;
  color: #c2dde9;
}

.login-left a:link:visited{
  text-decoration: none;
  color: #c2dde9;
}

.login-left a:link:hover{
  text-decoration: none;
  color: #fff;
}

.login-left label {
  color: #c6c6c6;
}

.input-icon {
  color: #c6c6c6;
  position: absolute;
  margin-top: 9px;
  margin-left: 10px;
}

.left-description {

}

.left-description img {
  width: 60%;
  margin-top: 20%;
  margin-left: 20%;
}

.right-description h1 {
  text-align: center;
  color: #fff;
  font-weight: 200;
}

.right-info {
  display: none;
}

.examples {
  height: 100px;
  width: 470px;
  margin-left: 20%;
  margin-top: 13%;
}

.chart1 {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.chart2 {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-left: 81px;
}

.chart3 {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-left: 81px;
}

.leftp {
  margin: 0px;
  padding: 0px;
  display: none;
  float: left;
  position: absolute;
  margin-top: 40px;
  margin-left: 30px;
  color: #263544;
}

.centerp {
  margin: 0px;
  padding: 0px;
  display: none;
  float: left;
  position: absolute;
  margin-top: 40px;
  margin-left: 30px;
  color: #263544;
}

.rightp {
  margin: 0px;
  padding: 0px;
  display: none;
  float: left;
  position: absolute;
  margin-top: 40px;
  margin-left: 30px;
  color: #263544;
}

.signup {
  background-color: #263544;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
}

.signup-header {
  margin-left: 20px;
  margin-bottom: 20px;
}

.signup-header img{
  width: 90%;
}

.signup form {
  padding: 20px;
  border-radius: 5px;
  min-width: 284px;
  max-width: 284px;
}

.signup input {
  width: calc(100% - 40px);
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 7px 10px 30px;
  background-color: #12202d;
  border: 1px solid #c2dde91a;
  box-shadow: none;
  color: #798999;
}

.bad {
  background-color: #471b1b4d !important;
  border: 1px solid #362d2db3 !important;
}

.bad-icon {
  color: #f34a4a;
  position: absolute;
  margin-left: 260px;
  margin-top: -50px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.signup button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background-color: #aff0ed;
  border: none;
  padding: 10px 45px;
  width: 100%;
  border: 1px solid #364e66;
  color: #263544;
}

.signup label {
  color: #a7b1ba;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

.signup h6 {
  color: #a7b1ba;
  margin-top: 10px;
}

.signup a {
  text-decoration: none;
  color: #c2dde9;
}

.signup a:link:visited{
  text-decoration: none;
  color: #c2dde9;
}

.signup a:link:hover{
  text-decoration: none;
  color: #fff;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow css */
.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
  margin-top: 20%;
}

.slideshow-container img {
  border-radius: 5px;
  webkit-box-shadow: 0px 0px 39px -9px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 39px -9px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 8px -3px rgb(38, 53, 68);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 97%;
  width: auto;
  padding: 3px;
  margin-top: -22px;
  color: #bbb;
  font-weight: 200;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0px 0px 3px;
}

.next {
  right: 0;
  border-radius: 0px 3px 3px 0px;
}

.prev:hover, .next:hover {
  color: #263544;
}

.text {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.text-header {

}

.text-header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: #263544;
}

.text-body h6 {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: #263544;
}

.text-header img {
  box-shadow: none;
  width: 10%;
}

.text-body {

}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #263544;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#alertbar {
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  position: fixed;
  z-index: 0;
  width: 100%;
  top:0px;
  text-align: center;
}

.error-alert {
  background-color: #db6161b3;
  border-bottom: 1px solid #bd5555;
}

.warning-alert {
  background-color: #ffd339b3;
  border-bottom: 1px solid #e1d119;
}

.success-alert {
  background-color: #85C389B3;
  border-bottom: 1px solid #5eb363;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@-webkit-keyframes fadein {
    from {top: -20; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

@keyframes fadein {
    from {top: -20; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 0px; opacity: 1;}
    to {top: -20; opacity: 0;}
}

@keyframes fadeout {
    from {top: 0px; opacity: 1;}
    to {top: -20; opacity: 0;}
}
