@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
  padding: 0;
  margin: 0;
}

.html{
  height: 100%;
}

body {
  background-color: #eceef1;
  min-height: 100%;
  min-width: 960px;
}

.header {
  min-width: 960px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #444;
  height: 60px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
  -moz-box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
  box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
}

.header_img {
  float: left;
  padding-left: 15%;
  padding-top: 16px;
}

.header_img img {

}

.header_menu_bar {
  float: left;
  padding-left: 20px;
  padding-top: 19px;
}

.header_menu_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header_menu_bar li {
  display: inline;
  padding: 10px;
}

.header_menu_bar a {
  color: #999;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.header_menu_bar a:hover {
    transition: color 0.5s ease;
    color: #FFF;
}

.header_media_links {
  float: right;
  padding-right: 15%;
  padding-top: 18px;
}

.media_link{
  float: left;
  margin-right: 60px;
}

.media_link_github {
    width: 24px; height: 24px;
    background: url('../images/github.png') no-repeat left top;
    transition: .5s ease;
    margin-right: 0px;
}

.media_link_github a {
  height: 100%;
  margin-left: 30px;
  display: block;
}

.media_link_github a:link, .media_link_github a:visited {
  padding-top: 2px;
  padding-left: 0px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  transition: .3s ease;
  color: #999;
}

.media_link_github:hover {
  transition: .5s ease;
  animation: .5s media_link_hover_flash infinite step-end;
}


@keyframes media_link_hover_flash{
  0% {
  background-position: -24px 0px
  }
  33% {
    background-position: -48px 0px
  }
  66% {
    background-position: -72px 0px
  }
  100% {
    background-position: -96px 0px
  }
}

@keyframes media_link_hover_move{
  100% {
    margin-right: 60px
  }
}

.main {
  height: 100%;
  overflow: auto;
  margin-left: 15%;
  margin-right: 15%
}

.content {
  float: left;
  background-color: #FFF;
  color: #7d7d7d;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  width: calc(100% - 265px);
  margin-top: 75px;
  margin-right: 210px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
  -moz-box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
  box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
}

.content_header {
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
}

.content_header p {
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px 0 0 10px;
}

.content_header a {
  text-decoration: none;
  color: #660000;
}

.content_header a:hover {
    transition: color 0.5s ease;
    color: #7d7d7d;
}

.content_main {
  padding-left: 10px;
  padding-right: 10px;
}

.header_text {
  font-size: 18px;
  color: #444;
}

.side {
  float: left;
  position: fixed;
  top: 60px;
  right: 15%;
  background-color: #FFF;
  width: 230px;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: 10px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
  -moz-box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
  box-shadow: 0px 0px 1px 0px rgba(87,87,87,0.19);
}

@media screen and (max-width: 960px) {
    .side {
      right: auto;
      left: calc(15vh + 470px);
    }
}

.side_header {
  font-family: 'Open Sans', sans-serif;
   color: #7d7d7d;
   text-align: center;
   padding-top: 10px;
}

.side_header p {
  font-size: 18px;
  color: #444;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.side_main{
  padding-left: 10px;
  padding-right: 10px;
}

.profile_card {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
}

.side_avatar {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.side_text {
  float: left;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;  letter-spacing: .5px;
  padding-top: 16px;
  padding-left: 10px;
}

.profile_line hr {
  border: 0;
  height: 0;
  margin: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.red_text {
  color: #e5a4a4;
}

.blue_text {
  color: #a0cce5;
}

.yellow_text {
  color: #e8d863;
}

.green_text {
  color: #a4da94;
}

.footer {
  bottom:0;
  width:100%;
  height:60px;
  background:#FFF;
}

.footer_text {
  color: #7d7d7d;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

.footer_text p {
  padding-top: 20px;
}
